# app
services:
  user-api:
    build:
      context: ../..
      dockerfile: app/api/user/dockerfile
    image: user-api
    container_name: user-api
    ports:
      - "10001:10001"
    labels:
      - traefik.enable=true
      - traefik.docker.network=application
      - traefik.http.routers.user-api.rule=Host(`natsume.com`) && PathPrefix(`/api/v1/users`)
      - traefik.http.routers.user-api.entrypoints=web
      - traefik.http.services.user-api.loadbalancer.server.port=10001
    networks:
      - application
    
  inventory-api:
    build:
      context: ../..
      dockerfile: app/api/inventory/dockerfile
    image: inventory-api
    container_name: inventory-api
    ports:
      - "10002:10002"
    labels:
      - traefik.enable=true
      - traefik.docker.network=application
      - traefik.http.routers.inventory-api.rule=Host(`natsume.com`) && PathPrefix(`/api/v1/inventory`)
      - traefik.http.routers.inventory-api.entrypoints=web
      - traefik.http.services.inventory-api.loadbalancer.server.port=10002
    networks:
      - application
    
  product-api:
    build:
      context: ../..
      dockerfile: app/api/product/dockerfile
    image: product-api
    container_name: product-api
    ports:
      - "10003:10003"
    labels:
      - traefik.enable=true
      - traefik.docker.network=application
      - traefik.http.routers.product-api.rule=Host(`natsume.com`) && PathPrefix(`/api/v1/products`)
      - traefik.http.routers.product-api.entrypoints=web
      - traefik.http.services.product-api.loadbalancer.server.port=10003
    networks:
      - application

  user-rpc:
    build:
      context: ../..
      dockerfile: app/services/user/dockerfile
    image: user-rpc
    container_name: user-rpc
    networks:
      - application

  auth-rpc:
    build:
      context: ../..
      dockerfile: app/services/auth/dockerfile
    image: auth-rpc
    container_name: auth-rpc
    networks:
      - application
  
  inventory-rpc:
    build:
      context: ../..
      dockerfile: app/services/inventory/dockerfile
    image: inventory-rpc
    container_name: inventory-rpc
    networks:
      - application
  
  product-rpc:
    build:
      context: ../..
      dockerfile: app/services/product/dockerfile
    image: product-rpc
    container_name: product-rpc
    networks:
      - application

networks:
  application:
    external: true
