# app
services:
  user-api:
    build:
      context: ../..
      dockerfile: app/api/user/dockerfile
    image: user-api
    container_name: user-api
    ports:
      - "10001:10001"
    labels:
      - traefik.enable=true
      - traefik.docker.network=application
      - traefik.http.routers.user-api.rule=PathPrefix(`/api/v1/users`)
      - traefik.http.routers.user-api.entrypoints=web
      - traefik.http.services.user-api.loadbalancer.server.port=10001
    networks:
      - application
    
  inventory-api:
    build:
      context: ../..
      dockerfile: app/api/inventory/dockerfile
    image: inventory-api
    container_name: inventory-api
    ports:
      - "10002:10002"
    labels:
      - traefik.enable=true
      - traefik.docker.network=application
      - traefik.http.routers.inventory-api.rule=PathPrefix(`/api/v1/inventory`)
      - traefik.http.routers.inventory-api.entrypoints=web
      - traefik.http.services.inventory-api.loadbalancer.server.port=10002
    networks:
      - application
    
  product-api:
    build:
      context: ../..
      dockerfile: app/api/product/dockerfile
    image: product-api
    container_name: product-api
    ports:
      - "10003:10003"
    labels:
      - traefik.enable=true
      - traefik.docker.network=application
      - traefik.http.routers.product-api.rule=PathPrefix(`/api/v1/products`)
      - traefik.http.routers.product-api.entrypoints=web
      - traefik.http.services.product-api.loadbalancer.server.port=10003
    networks:
      - application

  cart-api:
    build:
      context: ../..
      dockerfile: app/api/cart/dockerfile
    image: cart-api
    container_name: cart-api
    ports:
      - "10004:10004"
    labels:
      - traefik.enable=true
      - traefik.docker.network=application
      - traefik.http.routers.cart-api.rule=PathPrefix(`/api/v1/cart`)
      - traefik.http.routers.cart-api.entrypoints=web
      - traefik.http.services.cart-api.loadbalancer.server.port=10004
    networks:
      - application
  
  order-api:
    build:
      context: ../..
      dockerfile: app/api/order/dockerfile
    image: order-api
    container_name: order-api
    ports:
      - "10005:10005"
    labels:
      - traefik.enable=true
      - traefik.docker.network=application
      - traefik.http.routers.order-api.rule=PathPrefix(`/api/v1/order`)
      - traefik.http.routers.order-api.entrypoints=web
      - traefik.http.services.order-api.loadbalancer.server.port=10005
    networks:
      - application
  
  coupon-api:
    build:
      context: ../..
      dockerfile: app/api/coupon/dockerfile
    image: coupon-api
    container_name: coupon-api
    ports:
      - "10006:10006"
    labels:
      - traefik.enable=true
      - traefik.docker.network=application
      - traefik.http.routers.coupon-api.rule=PathPrefix(`/api/v1/coupons`)
      - traefik.http.routers.coupon-api.entrypoints=web
      - traefik.http.services.coupon-api.loadbalancer.server.port=10006
    networks:
      - application

  user-rpc:
    build:
      context: ../..
      dockerfile: app/services/user/dockerfile
    image: user-rpc
    container_name: user-rpc
    networks:
      - application

  auth-rpc:
    build:
      context: ../..
      dockerfile: app/services/auth/dockerfile
    image: auth-rpc
    container_name: auth-rpc
    networks:
      - application
  
  inventory-rpc:
    build:
      context: ../..
      dockerfile: app/services/inventory/dockerfile
    image: inventory-rpc
    container_name: inventory-rpc
    networks:
      - application
  
  product-rpc:
    build:
      context: ../..
      dockerfile: app/services/product/dockerfile
    image: product-rpc
    container_name: product-rpc
    networks:
      - application

  cart-rpc:
    build:
      context: ../..
      dockerfile: app/services/cart/dockerfile
    image: cart-rpc
    container_name: cart-rpc
    networks:
      - application

  order-rpc:
    build:
      context: ../..
      dockerfile: app/services/order/dockerfile
    image: order-rpc
    container_name: order-rpc
    networks:
      - application

  coupon-rpc:
    build:
      context: ../..
      dockerfile: app/services/coupon/dockerfile
    image: coupon-rpc
    container_name: coupon-rpc
    networks:
      - application

  agent-rpc:
    build:
      context: ../..
      dockerfile: app/services/agent/dockerfile
    image: agent-rpc
    container_name: agent-rpc
    networks:
      - application

  indexer:
    build:
      context: ../..
      dockerfile: app/services/indexer/dockerfile
    image: indexer
    container_name: indexer
    networks:
      - application
  
networks:
  application:
    external: true
